:root {
    --primary--color: #f07807;
    --secunday--color: #f7e5d8;
    --default-shadow: 0 6px 6px #333;
    --default-padding: 0 80px;
}

* {
    padding: 0;
    margin: 0;  
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,ol,li {
    list-style: none;
}

body {
    background-color: var(--secunday--color);
    font-family: "Poppins", sans-serif;
}

header {
    position: fixed;
    height: 60px;
    width: 100vw;
    top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--default-padding);
    
}

li {
    padding: 4 8px ;
    transition: .5s;
}

li:hover {
    background-color: #fbddc1;
    box-shadow: var(--default-shadow);
}

menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    font-size: 1rem;
}

.login {
    height: 48px;
    width: 120px;
    border-radius: 12px;
    border: none;
    background-color: var(--secunday--color);
    box-shadow: var(--default-shadow);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

main {
    background-color: var(--secunday--color);
}

section {
    height: 100vh;
}

.home {
    background-color: var(--secunday--color);
    background-image: url(./img/background.svg);
    background-repeat: no-repeat;
    background-position: top right;
}

.cardapio {
    background-color: plum;
}

.servicos {
    background-color: teal;
}

footer {
    background-color: var(--primary--color);
    height: 526px;
}