:root {
    --primary--color: #f07807;
    --secunday--color: #f7e5d8;
}

* {
    padding: 0;
    margin: 0;  
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,ol,li {
    list-style: none;
}

body {
    padding: 0 80px;
    font-family: "Poppins", sans-serif;
}

header {
    position: absolute;
    height: 60px;
    width: calc(100% - 160px);
    top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

li {
    padding: 4 8px ;
    transition: .5s;
}

li:hover {
    background-color: #fbddc1;
    box-shadow: 0 6px 6px #333;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    font-size: 1rem;
}

.login {
    height: 48px;
    width: 120px;
    border-radius: 12px;
    border: none;
    background-color: var(--secunday--color);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

main {
    background-color: var(--secunday--color);
    height: 500px;
}

footer {
    background-color: var(--primary--color);
    height: 526px;
}